{% extends "base.html" %}
{% block head %}
	<link rel="stylesheet" href="/static/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css"/>

	<script>
		require(["/static/js/add_tournament.js"]);
	</script>
{% endblock %}

{% block content %}
	<div class="container add-tournament">
		<h1>Add Tournament</h1>

		<div class="form-block">
			<label for="date-started">Date Started</label>
			<input type="text" id="date-started">
		</div>
		<div class="form-block">
			<label for="random">Random Draw</label>
			<select name="random">
				<option value="false">False</option>
				<option value="true">True</option>
			</select>
		</div>
		<div class="form-block">
			<h2>Players</h2>
			{% for player in players %}
				<label class="player-select">
					<input type="checkbox" name="players" value="{{ player.id }}" {% if player.auto_sign_up %}checked{% endif %}>
					{{ player.name }}
				</label>
			{% endfor %}
		</div>
		<button id="submit-tournament" class="btn btn-default">Submit Tournament</button>
	</div>
{% endblock %}
